# Module files
*.iml
.gradle
local.properties

# Ignore everything in .idea except essential project files
.idea/*
!.idea/AndroidProjectSystem.xml
!.idea/gradle.xml
!.idea/misc.xml

# OS-specific
.DS_Store
Thumbs.db

# Build output
build
captures
.externalNativeBuild
.cxx

# Logs
*.log